.stocklist {
  width: 100%
}

.stocklist li {
  list-style: none;
  display: inline-block;
  width: 33%;
  background-color: white;
}

.button--delete-stock {
  background: red;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.button--add-stock {
  background: green;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}